@layer theme, base, components, utilities;
@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@config "../tailwind.config.ts";

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
